body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(22, 22, 22);
  color: white;
}
img{
  margin: auto;
}

.page-container{
  width: 40%;
  text-align: center;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  /* margin: auto; */
  /* height: 100vh; */
}
h1{
  font-size: 60px;
  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  margin: 5px;
  padding: 5px;
}

label {
  font-size: 20px;
}

input {
  font-size: 18px;
  margin-left: 5px;
}

.navbar {
  display: flex;
  list-style-type: none;
  margin-top: 21px;
  background-color: rgb(51, 51, 51);
  height: 30px;
}

.navbar li {
  margin-left: 30px;
  padding-left: 60px;
  padding-top: 3px;
}
.navbar a {
  color: white;
}
.navbar a:visited{
  color: white;
}

.navbar li:last-child {
  margin-right: 0;
}

.login {
  position: absolute;
  top: 60px;
  right: 10px;
  transform: translate(-50%, -50%);
  text-align: right;
}

#header-logo{
  width: 300px;
  display: flex;
  justify-content: center;
}